{% extends "base.html" %}
 

{% block title %}
{{ object.shortcode }} | {{ block.super }} 
{% endblock title %}


{% block styles %}
<style>
	body {
      background-color: #226268;
    }
	.contain {
      padding-top: 5%;
    }
</style>
{% endblock styles %}

{% block content %}
<div class='text-center contain' >
    <h1 class='over-heading text-center'>Exists Already</h1>
    <p class='lead text-center'>{{ object.url }}</p>
    {% if object.clickevent.count %} 
        <p class='lead text-center'>Count: {{ object.clickevent.count }}</p> 
    {% endif %}
    <p class='lead text-center'><a class='btn btn-link'  href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a></p>
    <a class='btn btn-default' href='/'>+ New</a>
</div>
{% endblock content %}
